// main: ../main.scss


// For all variables you wouldn't normally touch


/*

    Typography

*/


    // Font Sizes;

    $font-size--base: 10px !default;


    // Font Families

    $font-family--base:
      // Safari for OS X and iOS (San Francisco)
      -apple-system,
      // Chrome < 56 for OS X (San Francisco)
      BlinkMacSystemFont,
      // Windows
      "Segoe UI",
      // Android
      "Roboto",
      // Basic web fallback
      "Helvetica Neue", Arial, sans-serif,
      // Emoji fonts
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
    $font-family--header: $font-family--base !default;
    $font-family--subheader: $font-family--base !default;
    $font-family--display: $font-family--base !default;
    $font-family--monospace: monospace;

// --
