// main: ../main.scss


// For all variables you wouldn't normally touch


/*

    Typography

*/



    // Font Families

    $ffam-base:
      // Safari for OS X and iOS (San Francisco)
      -apple-system,
      // Chrome < 56 for OS X (San Francisco)
      BlinkMacSystemFont,
      // Windows
      "Segoe UI",
      // Android
      "Roboto",
      // Basic web fallback
      "Helvetica Neue", Arial, sans-serif,
      // Emoji fonts
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
    $ffam-header: $ffam-base !default;
    $ffam-subheader: $ffam-base !default;
    $ffam-display: $ffam-base !default;
    $ffam-monospace: monospace;

// --






/*

    Structure

*/


    // Grid

    $grid-columns: 12;
    $grid-column-width: 100vw / $grid-columns;

    // Breakpoints

    $sm: 576px;
    $md: 768px;
    $lg: 992px;
    $xl: 1500px;
