// main: ../main.scss

/*

    Global project variables

*/

    /*
        Vickal 1.0.1
    */

    // $dev: true;

// --







/*

    Colors

*/


    // Global brand colors (for your use outside of /scss/vickal)

    $blue: #46A4EC;
    $green: #226656;
    $red: #EF3343;
    $cream: #EEEAE7;
    $cream-dark: #ECE4DF;
    $lavender: #434559;
    $lavender-dark: #303144;


    // Global colors used within Vickal

    $color-primary: $blue;
    $color-secondary: $green;
    $color-light: white;
    $color-dark: rgb(46, 46, 46);


    // Page colors

    $body-bg-color: white;


    // Text colors

    $body-text-color--dark: rgba($color-dark, .8);
    $body-text-color--light: $color-light;

    $mark-color: #FCF8E4;



// --







/*

    TYPOGRAPHY

*/

    /*
        Universal properties
    */



    // Font antialiasing

    $font-smoothing: false;


    // define REM font sizes

    $font-size--xs: 15px; // mobile
    $font-size--sm: 18px; // big phones - tablets
    $font-size--lg: 20px; // desktop up


    // Line Height

    $line-height--base: 1.7;


    // Font Families


    /*
        Note: $font-family--base defined in _defaults.scss
        Defines default OS-specific font-family stack
    */

    $font-family--body: $font-family--base;

    $font-family--header: $font-family--base;
    $font-family--display: $font-family--header;
    $font-family--subheader: $font-family--body;

    $font-family--monospace: monospace;


    // Font Weights

    $font-weight--bold: 600;
    $font-weight--medium: 400;
    $font-weight--light: 300;

    $font-weight--base: $font-weight--medium;
    $font-weight--header: 700;
    $font-weight--subheader: $font-weight--bold;
    $font-weight--display: 700;


    // Heading, paragraph elements

    $margin--paragraph: 1.5rem;
    $margin--header: 3rem;




    /*
        Specific typogrpahic elements
    */



    // Lists

    $ul-style-type: disc;
    $ol-style-type: decimal;


    // links


    @mixin link-style {

        box-shadow: inset 0px -6px 0px 0px rgba(black, 0.35);
        transition: 300ms $animation-curve filter;

        &:hover {
            filter: opacity(.8);
        }
    }


    // Other typography styles

    @mixin subheader-style {
        opacity: .8;
    }

// --







/*

    Styling

*/

    /*
        Universal variables
    */


    // Shadow styles (light, medium, and heavy)

    $shadow-li: 0 3px 6px -3px rgba(0,0,0,0.25);
    $shadow-md: null;
    $shadow-hv: null;


    // Animation curve

    $animation-curve: cubic-bezier(.36,.1,.15,.97);


    // Border radius

    $border-radius: 8px;


    /*
        Styles for various elements
    */


    // Buttons

        // Define a superficial style that applies to all buttons
    @mixin button-style {

        border-radius: $border-radius;
        font-size: 1rem;
        padding: 12px 20px;

        font-weight: $font-weight--bold;

        &.button--small {
            border-radius: $border-radius;
            font-size: .8rem;
            padding: 8px 14px;
        }

    }

    $button-style--border: 1px solid;


    // Forms

    @mixin input {

    }





// --







/*

    COMPONENTS

*/


    // Tables

    $table-cell-padding: 5px 10px;

// --
