// main: ../main.scss


.display-block {
    display: block !important;
}
.display-table {
    display: table !important;
}
.display-inline {
    display: inline !important;
}
.display-inline-block{
    display: inline-block !important;
}
.display-block {
    display: block !important;
}
