// main: ../main.scss

@for $i from 1 through 6 {

    $type: null;
    $size: null;

    @if $i == 1 {
        $type: 025;
		$size: .25;
    }
    @if $i == 2 {
        $type: 1-2;
		$size: .5;
    }
    @if $i == 3 {
        $type: 1;
		$size: 1;
    }
    @if $i == 4 {
        $type: 2;
		$size: 2;
    }
    @if $i == 5 {
        $type: 4;
		$size: 4;
    }
    @if $i == 6 {
        $type: 8;
		$size: 8;
    }


    .mx-#{$i*2} {
        margin-left: #{$size}em;
        margin-right: #{$size}em;
    }

    .my-#{$i*2} {
        margin-top: #{$size}em;
        margin-bottom: #{$size}em;
    }

    .ml-#{$i*2} {
        margin-left: #{$size}em;
    }

    .mr-#{$i*2} {
        margin-right: #{$size}em;
    }

    .mt-#{$i*2} {
        margin-top: #{$size}em;
    }

    .mb-#{$i*2} {
        margin-bottom: #{$size}em;
    }



    .px-#{$i*2} {
        padding-left: #{$size}em;
        padding-right: #{$size}em;
    }

    .py-#{$i*2} {
        padding-top: #{$size}em;
        padding-bottom: #{$size}em;
    }

    .pl-#{$i*2} {
        padding-left: #{$size}em;
    }

    .pr-#{$i*2} {
        padding-right: #{$size}em;
    }

    .pt-#{$i*2} {
        padding-top: #{$size}em;
    }

    .pb-#{$i*2} {
        padding-bottom: #{$size}em;
    }
}


// Generates breakpoint-specific classes for all breakpoints
@for $x from 1 through 4 {

    $bp: null;

    @if $x == 1 {
        $bp: "sm";
    }
    @if $x == 2 {
        $bp: "md";
    }
    @if $x == 3 {
        $bp: "lg";
    }
    @if $x == 4 {
        $bp: "xl";
    }

    @include breakpoint($bp) {


        .mx--#{$bp}-0 {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .my--#{$bp}-0 {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        .ml--#{$bp}-0 {
            margin-left: 0 !important;
        }

        .mr--#{$bp}-0 {
            margin-right: 0 !important;
        }

        .mt--#{$bp}-0 {
            margin-top: 0 !important;
        }

        .mb--#{$bp}-0 {
            margin-bottom: 0 !important;
        }



        .px--#{$bp}-0 {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .py--#{$bp}-0 {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

        .pl--#{$bp}-0 {
            padding-left: 0 !important;
        }

        .pr--#{$bp}-0 {
            padding-right: 0 !important;
        }

        .pt--#{$bp}-0 {
            padding-top: 0 !important;
        }

        .pb--#{$bp}-0 {
            padding-bottom: 0 !important;
        }
    }
}
