//main: ../main.scss




button,
[type="button"],
.button {

    display: inline-block;

    @extend .unstyled; // reset style

    @include button-style;


    // defaults to fill button
    background: $color-primary;
    color: $color-light;
    border: none;



    // Hierarichal variations

    &.button--border {
        border: $button-style--border $color-primary;
        color: $color-dark;
        background: none !important;
    }

    &.button--borderless {
        background: none !important;
        color: $color-dark;
        border: none !important;
    }



    // Color variations

    &.button--color-secondary {
        border-color: $color-secondary;
        background-color: $color-secondary;
    }

    &.button--color-light {
        border-color: $color-light;
        background-color: $color-light;

        color: $color-light;

        &:not(.button--border):not(.button--borderless) {
            color: $color-dark;
        }
    }

    &.button--color-dark {
        border-color: $color-dark;
        background-color: $color-dark;

        color: $color-dark;

        &:not(.button--border):not(.button--borderless) {
            color: $color-light;
        }
    }

}
