// main: ../main.scss




/*

    Typography variables

*/


:root {

    // body text size
    --fsize-norm: 1em;

    // lesser scale for display and variable body text sizes
    --text-scale-stunt: calc(var(--text-scale-ratio) * .92);

    @include breakpoint(md) {

        --text-scale-stunt: calc(var(--text-scale-ratio) * .9);
    }


    // variable body text sizes

    --fsize-xs: calc(1em / var(--text-scale-stunt)
                      / var(--text-scale-stunt));

    --fsize-sm: calc(1em / var(--text-scale-stunt));

    --fsize-lg: calc(1em * var(--text-scale-stunt));

    --fsize-xl: calc(1em * var(--text-scale-stunt)
                      * var(--text-scale-stunt));


    // heading sizes

    --fsize-h5: calc(1em * var(--text-scale-ratio));

    --fsize-h4: calc(1em * var(--text-scale-ratio)
                      * var(--text-scale-ratio));

    --fsize-h3: calc(1em * var(--text-scale-ratio)
                      * var(--text-scale-ratio)
                      * var(--text-scale-ratio));

    --fsize-h2: calc(1em * var(--text-scale-ratio)
                      * var(--text-scale-ratio)
                      * var(--text-scale-ratio)
                      * var(--text-scale-ratio));

    --fsize-h1: calc(1em * var(--text-scale-ratio)
                      * var(--text-scale-ratio)
                      * var(--text-scale-ratio)
                      * var(--text-scale-ratio)
                      * var(--text-scale-ratio));

    // display sizes

    --fsize-d4: calc(var(--fsize-h1)

                      * var(--text-scale-stunt));


    --fsize-d3: calc(var(--fsize-h1)

                      * var(--text-scale-stunt)
                      * var(--text-scale-stunt));

    --fsize-d2: calc(var(--fsize-h1)

                      * var(--text-scale-stunt)
                      * var(--text-scale-stunt)
                      * var(--text-scale-stunt));

    --fsize-d1: calc(var(--fsize-h1)

                      * var(--text-scale-stunt)
                      * var(--text-scale-stunt)
                      * var(--text-scale-stunt)
                      * var(--text-scale-stunt));
}




/*

    Font families and weight

*/


body, .fstyle-body {
    font-family: $ffam-body;
    font-weight: $fweight-base;
    color: $tcolor-body-dark;
}


h1,
h2,
h3,
h4,
h5,
h6,
.fstyle-header {
    font: {
        weight: $fweight-header;
        family: $ffam-header;
    }
}

.subheader {
    display: block;

    font: {
        weight: $fweight-subheader;
        family: $ffam-subheader;
    }

    @include subheader-style;
}


.display-1,
.display-2,
.display-3,
.display-4 {
    font: {
        weight: $fweight-display;
        family: $ffam-display;
    }
}


b,
strong,
.bold {
    font-weight: $fweight-bold;
}


// Misc weight modifiers

.fweight-light {
    font-weight: $fweight-light;
}

.fweight-medium {
    font-weight: $fweight-medium;
}




/*

    Font sizes and line heightext-size

 */

html {
    font-size: var(--font-size);
}

body {
    font-size: 1em;
}



.display-1 {
    font-size: var(--fsize-d1);
    line-height: 1;
}
.display-2 {
    font-size: var(--fsize-d2);
    line-height: 1;
}
.display-3 {
    font-size: var(--fsize-d3);
    line-height: 1;
}
.display-4 {
    font-size: var(--fsize-d4);
    line-height: 1.1;
}

h1,
.fsize-h2 {
    font-size: var(--fsize-h1);
    line-height: 1.1;
}
h2,

.fsize-h2 {
    font-size: var(--fsize-h2);
    line-height: 1.2;
}
h3,
.fsize-h3 {
    font-size: var(--fsize-h3);
    line-height: 1.3;
}
h4,
.fsize-h4 {
    font-size: var(--fsize-h4);
    line-height: 1.4;
}
h5,
.fsize-h5 {
    font-size: var(--fsize-h5);
    line-height: 1.4;
}
h6,
.fsize-h6 {
    font-size: var(--fsize-norm);
    line-height: 1.6;
}


.fsize-xl {
    font-size: var(--fsize-xl);
}

.fsize-lg {
    font-size: var(--fsize-lg);
}

.fsize-sm {
    font-size: var(--fsize-sm);
}

.fsize-xs {
    font-size: var(--fsize-xs);
}


// Relevant modifiers

.fsize-inherit {
    font-size: inherit;
}




/*

    Listext-size

*/


ul,
ol {

    list-style-position: outext-sizeide;


    li {
        margin-top: .6em;
    }

    &.list--inline {

        @extend .unstyled;

        > li {
            display: inline !important;
        }
    }
}

ul {
    list-style-type: $ul-style-type;
}

ol {
    list-style-type: $ol-style-type;
}




/*

    Misc typography elementext-size

*/


em,
i,
var,
.italic {
    font-style: italic;
}

ins,
u {
    text-decoration: underline;
}

del,
s {
    text-decoration: line-through;
}

mark {
    background: $mark-color;
}

a {
    &:not(.button),
    &:not(.unstyled) {

        @include link-style;
    }
}

small {
    font-size: .9em;
}



/*

    Misc Modifiers

*/


.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}


.dir-rtl {
    text-align: right;
}

.dir-center {
    text-align: center;
}
.dir-ltr {
    text-align: left;
}




/*

    Font smoothing

*/


@if $font-smoothing == true {
    html {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
